<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 

<body>
	<div class="container">
		<h1>Budgtr</h1>
		<table>
			<% for( let item in budgets ) { %>
				<tr>
					<td>
						<%= budgets[item].date %>
					</td>
					<td>
						<a href="/bugets/<%= item %> "> <%= budgets[item].name %> </a>
					</td>
					<td>
						<%= budgets[item].amount %>
					</td>
				</tr>
			<% } %>
		</table>
	</div>
</body>
</html>